In [1]:
import pandas as pd

In [2]:
FILEPATH = r"C:\\Users\\Windows\\Desktop\\cc.xlsx"
df = pd.read_excel(FILEPATH)

In [18]:
df["Alimentos Consumidos"].str.split(",",expand=True)

            0       1
0       Manga    None
1  Jabuticaba    Maça
2       Manga  Banana

In [25]:
food = {
    "Alimentos": [k for i in df["Alimentos Consumidos"].str.split(",").to_numpy() for k in i] ,
}
food = pd.DataFrame(food)
food.groupby("Alimentos")["Alimentos"].count().reset_index(name='count').sort_values(['count'], ascending=False).head(3).to_numpy()

In [39]:
food.groupby("Alimentos")["Alimentos"].count().reset_index(name='count').sort_values(['count'], ascending=False).head(3).to_numpy()

array([['Manga', 2],
       ['Banana', 1],
       ['Jabuticaba', 1]], dtype=object)

In [15]:
{f:food.count(f) for f in food}

{'Manga': 2, 'Jabuticaba': 1, 'Maça': 1, 'Banana': 1}

In [14]:
food

['Manga', 'Jabuticaba', 'Maça', 'Manga', 'Banana']