In [1]:
import pandas as pd

In [2]:
FILEPATH = r"C:\\Users\\Windows\\Desktop\\cc.xlsx"
df = pd.read_excel(FILEPATH)

In [16]:
pd.DataFrame(df["Alimentos Consumidos"].str.title())["Alimentos Consumidos"].str.split(",",expand=True)

                           0                 1                 2        3
0  Pão Integral Com Manteiga    Café Com Leite              None     None
1                      Arroz            Feijão   Frango Grelhado   Salada
2      Biscoito De Chocolate              None              None     None
3           Lasanha De Carne              None              None     None
4        Iogurte Com Granola              None              None     None
5          Sanduíche Natural   Suco De Laranja              None     None
6            Barra De Cereal              None              None     None
7          Pizza (3 Queijos)              None              None     None
8           Panqueca Com Mel   Suco De Laranja              None     None
9       Sorvete De Chocolate              None              None     None

In [18]:
[k.title() for i in df["Alimentos Consumidos"].str.split(",").to_numpy() for k in i]

['Pão Integral Com Manteiga',
 ' Café Com Leite',
 'Arroz',
 ' Feijão',
 ' Frango Grelhado',
 ' Salada',
 'Biscoito De Chocolate',
 'Lasanha De Carne',
 'Iogurte Com Granola',
 'Sanduíche Natural',
 ' Suco De Laranja',
 'Barra De Cereal',
 'Pizza (3 Queijos)',
 'Panqueca Com Mel',
 ' Suco De Laranja',
 'Sorvete De Chocolate']

In [25]:
food = {
    "Alimentos": [k for i in df["Alimentos Consumidos"].str.split(",").to_numpy() for k in i] ,
}
food = pd.DataFrame(food)
food.groupby("Alimentos")["Alimentos"].count().reset_index(name='count').sort_values(['count'], ascending=False).head(3).to_numpy()

In [39]:
food.groupby("Alimentos")["Alimentos"].count().reset_index(name='count').sort_values(['count'], ascending=False).head(3).to_numpy()

array([['Manga', 2],
       ['Banana', 1],
       ['Jabuticaba', 1]], dtype=object)

In [15]:
{f:food.count(f) for f in food}

{'Manga': 2, 'Jabuticaba': 1, 'Maça': 1, 'Banana': 1}

In [14]:
food

['Manga', 'Jabuticaba', 'Maça', 'Manga', 'Banana']